[submodule "external/leos-sdk"]
	path = external/leos-sdk
	url = https://github.com/VIP-LES/leos-sdk
	branch = master
[submodule "external/sx126x_driver"]
	path = external/sx126x_driver
	url = https://github.com/Lora-net/sx126x_driver.git
